<div class="row">
  <h1 class="text-capitalize"><%= t '.list' %></h1>
  <br>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= t '.name' %></th>
        <th><%= t '.desc' %></th>
      </tr>
    </thead>
    <% @courses.each do |course| %>
      <tr>
        <td><%= link_to course.name, edit_supervisor_courses_subject_path(course) %></td>
        <td><%= course.description %></td>
      </tr>
    <% end %>
  </table>
</div>
